/* ==========================================================================
   Roku photos
   Status messages
   ========================================================================== */

.messages {
	position: absolute;
	top: 25%;
	left: 0;
	right: 0;
	text-align: center;
	font-family: sans-serif;
	font-size: 32px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
}
.message {
	display: none;
	margin: 15px 0;
}
.message.event {
	position: fixed;
	bottom: 10px;
	left: 10px;
	margin: 0;
	font-size: 15px;
	color: #000;
	text-shadow: none;
	font-family: monospace;
}
.message.order-new,
.message.lock-new {
	-webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	animation-duration: 4s;
}
.pause-icon,
.play-icon {
	position: fixed;
	// bottom: 90px;
	// right: 80px;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -30px;
}
.pause-icon {
	font-size: 72px;
	-webkit-animation-duration: .4s;
	-moz-animation-duration: .4s;
	animation-duration: .4s;
}
.play-icon {
	font-size: 72px;
	-webkit-animation-duration: .8s;
	-moz-animation-duration: .8s;
	animation-duration: .8s;
}
