/* ==========================================================================
   Roku photos
   Slides
   ========================================================================== */

// Slides
// --------------------------------------------------
.slide {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid red;
	text-align: center;
	&.active {
		display: block;
	}
	.label {
		position: absolute;
		bottom: 10px;
		left: 10px;
		font-family: sans-serif;
	}
}
.slide1 {
	background-color: yellow;
}
.slide2 {
	background-color: red;
}

// Caption
// --------------------------------------------------
.caption {
	display: none;
	position: absolute;
	z-index: 10;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 16px;
	font-family: sans-serif;
	text-align: center;
	
}
